/* Write your CSS here */
.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.not-found-img {
  height: 350px;
}

.not-found-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: aliceblue;
  height: 100vh;
}
